
        <%= form_tag("/login", class: "Form") do %>
         <h1>ログイン画面</h1>
                <%= @error_message %>
            <p>メールアドレス</p>
            <input name="email"  class="usersForm">
            <p>パスワード</p>
            <input type="password" name="password"  class="usersForm">
            <input type="submit" value="ログイン" class="loginForm">            
            <%= link_to "新規登録がまだの方はこちらへ" , signup_path, class: "btn link" %>
            <%= link_to 'Topへ', root_path, class: "backlink link" %>
        <% end %>
    