
        <%= form_tag("/users/create", class: "Form") do %>
            <h1>新規登録</h1>
            <% @user.errors.full_messages.each do |message| %>
                <li class="error"><%= message %></li>
            <% end %>
                <p>名前</p>
                <input name="name" class="usersForm">
                <p>メールアドレス</p>
                <input name="email" class="usersForm">
                <p>パスワード</p>
                <input name="password" type="password" class="usersForm">
                <input type="submit" value="新規登録" class="btn link">
         <%= link_to("ログイン画面へ","/login", class: "loginForm link")%>
         <%= link_to "Topへ戻る" , root_path, class: "backlink link" %>
        <% end %>