
 body {
    margin: 0 auto;
    text-align: center;
    background-color:rgba(255, 191, 123, 0.753);
    }
    ul {
        padding:0;
        list-style: none;
    }
 a:link, a:visited{
     display: block;
     margin: 0 auto;
     text-decoration: none;
     color:black;
 }
 input[type="submit"] {
    color: white;
    border-radius: 5px;
    display: block;
    margin: 20px auto;
 }
/*Top画面*/
/*ヘッダー*/
header {
    display: flex;
    justify-content: right;
    height: 100px;
    background-color: orange;
}
header > ul {
    display: flex; 
    justify-content: right;
    align-items: center;
    min-width: 80%;
}
header> ul > li {
   min-width: 10%;
   margin:0;
   margin-right: 30px;
   padding: 5px 10px;
   color: white;
}
.link:visited {
   color: white;
}
/*検索機能*/
.search {
    display: flex;
    justify-content: center; 
}
.searchForm {
    margin-right: 20px;
    width: 30%;
    border-radius: 10px;
}
.search > input[type="submit"] {
    margin: 0;
    background-color: black;
    border: 1px solid black;
}
/*topページ*/

.main {
    width: 100%;
    padding: 60px 0;
    margin:0;
    font-size: 30px;
}

.topics {
    margin: 0 auto;
    width: 50%;
}
.topic, .list {
    border: 1px solid black;
    padding: 40px ;
    margin-bottom: 24px;
    border-radius: 10px;
    background-color :white;
}
.list {
    display: flex;
    padding: 12px 32px;
    margin: 10px 0;
}
.top {
    display: flex;
}
.lists {
    position: absolute;
    right:0;
}

footer {
     background-color: orange;
     margin-top: 100px;
}
.contactForm {
    padding: 48px 64px;
}
/*投稿画面*/
.Text {
    line-height: 18px;
    width: 30%;
    border-radius: 10px;
}
textarea {
    height: 180px;
}
.error {
    font-size:14px;
    font-weight: bold;
    color: tomato;
}
.submit {
    background-color: rgba(255, 123, 0, 0.911);
    border: 1px solid rgba(255, 123, 0, 0.911);
    width: 15%;
    cursor: pointer;
    margin: 20px auto;
}
/*show.html.erb*/
/*タイトル*/
.topicTitle {
    margin: 25px auto;
    font-size: 35px;
}
.topicBody {
    display: inline-block;
    width: 50%;
    padding: 30px;
    border: 1px solid;
    border-radius: 30px;
    text-align: left;
    background-color: white;
    margin: 20px 0;
}
/*編集機能*/
.edit {
   display: block;
   background-color:rgb(2, 214, 48);
   border-color: rgb(2, 214, 48);
   box-shadow:1px 1px rgb(2, 214, 48);
   color: white;
   border-radius: 5px;
   margin: 10px auto;
   width: 15%;
}
.editFunction {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
}
.editFunction > a,.backlink{
   background-color:rgb(2, 214, 48);
   border-color: rgb(2, 214, 48);
   box-shadow:1px 1px rgb(2, 214, 48);
   color: white;
   border-radius: 5px;
   width: 15%;
}
.editFunction >.delete {
    background-color: red;
    border-color: red;
    box-shadow: 1px 1px red;
}
.editFunction >.backlink,.backlink{
    display: block;
    background-color: orange;
    box-shadow: 1px 1px orange;
    border-color: orange
}

.total {
    font-size: 36px;
}

/*選択肢表示*/
.choice_div {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.choice_content {
    height: 40px;
    width: 45%;
    border-radius: 5px;
    border: 1px solid black;
    padding: 4px 12px;
    box-sizing: border-box;
    background-color: white;
    margin-right: 20px;
}

.delete_btn {
    height: 35px;
    font-size: 15px;
    color: white;
    background-color: orange;
    border-color: orange;
}

/*選択肢作製*/
.choice_form{
    margin-bottom: 80px;
}

/*投票機能*/
.votesFunction {
    margin: 0 auto;
    width: 20%;
    display: flex;
    justify-content: space-between;
}
.votesBtn,.cancelBtn {
    background-color: blue;
    border-color: blue;
    padding: 8px 24px;
    margin: 10px 80px;
}
.cancelBtn {
    background-color: tomato;
    border-color: tomato;
}